/* 通用模板,清除默认布局样式 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* 更改width的作用方式 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

p {
  line-height: 1.5;
}

a {
	color: #ffbb00;
  text-decoration: none;
	transition: color 0.4s;
}
a:hover {
	color: #0362ff;
}

header {
  width: 100%;
  background: rgba(255,165,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.35);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 10%;
}

nav ul {
	text-align: center;
}

nav ul li {
	height: 40px;
	display: inline-block;
}

.brand {
  font-size: 1.3rem;
  line-height: 40px;
	font-weight: bold;
  color: #001f28;
  text-decoration: none;
  transition: all 0.3s;
}

.brand:hover{
  color: #000a0e;
  text-shadow: 0 0 5px rgba(0,0,0,0.35);
}

nav ul li a {
	font-size: 1rem;
	font-weight: bold;
	line-height: 40px;
	color: #001f28;
	width: 130px; height: 100%;
	display: block;
	background: #FFF;
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0,0,0,0.35);
	text-decoration: none;
	border-bottom: solid 5px #ffa500;
	transition: all 0.3s;
}

nav ul li a:hover {
	color: #FFF;
	background: #ffa500;
}


#container {
  width: 80%;
	margin: 0 auto;
	padding-top: 20px;
}

#container h2 {
  font-size: 1.2em;
	height: 45px;
	line-height: 45px;
	color: #FFF;
	font-weight: bold;
	background: #001f28;
	border-radius: 5px;
	margin: 0px 0 15px;
	padding: 0 15px;
	box-shadow: 0 0 3px rgba(0,0,0,0.35);
}
#container h2:before {
	content: ">";
  color: rgba(255,255,255,0.45);
	margin-right: 5px;
}

section {
	width: 100%;
	padding: 10px;
	background: #FFF;
	border-bottom: solid 10px #ffa500;
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0,0,0,0.35);
  margin-bottom: 15px;
}

#name {
  display: inline-block;
  color: #FFF;
	background: #35322e;
  padding: 7px 15px 5px 10px;
	margin-bottom: 5px;
  border-radius: 0 1.4rem 1.4rem 0;
	border-left: solid 5px #b1aaa4;
}

h3 > a {
  color: #0362ff;
}

h3 > a:hover {
	color: #ffa500;
}